@use '../utils/variables' as vars;
@use '../base/typography' as typography;

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  background: linear-gradient(to right, vars.$primary-color, vars.$secondary-color);
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 10px;
}

li {
  padding: 20px 10px; 
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: vars.$secondary-color-dark; 
  font-size: typography.$font-size;
  transition: color 0.3s ease;

  &:hover {
    color: vars.$primary-color-light; 
  }
}



@media (min-width: 768px) {
  nav {
    padding: 5px;
  }
   
  ul {
    gap: 100px;
  }

  li {
    padding: 3px; 
  }

  a {
    font-size: typography.$font-size-xl; 
  }
}
