@use '../utils/variables' as vars;
@use '../base/typography' as typo; 


.addTaskForm {
  display: flex;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px;

.add-task-form {
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: vars.$secondary-color-light;
    border: 1px solid vars.$secondary-color-dark;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


    input {
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 65%;
        margin-bottom: 20px;
        margin-top: 20px;
        background:none;
    
        &::placeholder {
          color: #4e4c4c; 
        }
    
    }

    select {
        padding: 10px;
        background-color: vars.$accent-color;
        margin-bottom: 10px; 
        text-align: center;
        font-size: typo.$font-size;
        color: vars.$primary-color-light;
        border: 2px solid #ccc;
        border-radius: 5px;
    }
    button {
        background-color: vars.$primary-color;
        color: vars.$primary-color-light;
        padding: 10px;
        font-size: typo.$font-size;
        margin:10px;
        border-radius: 5px;
        border: 2px solid;
    
        &:hover {
            background-color: vars.$primary-color-dark; 
            color: vars.$primary-color-light;
    
        }
    }

}
}

