@use '../utils/variables' as vars;
@use '../base/typography' as typography;
.dashboardDiv {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    input{
      margin-bottom: 40px;
      font-size: 1.1rem;
      padding: 3px;
      background: none;
      border-radius: 5px;

      &::placeholder{
        color: vars.$accent-color-dark;
      }
      }
    
  
    h1{
      color:white;
      font-size: typography.$font-size-xxl;
      }
      
    h2, h3 {
      text-align: center;
      margin-bottom: 0.7rem;
      color: #333;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  
    
    .overview {
      width: 100%;
      max-width: 800px;
      margin-top: 1rem;

  
      h2 {
        font-size: 1.6rem;

        &::first-letter {
          text-transform: capitalize;
        }

      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        h3 {
          padding: 0.5rem;
          border: 1px solid #ddd;
          border-radius: 3px;

          &::first-letter {
            text-transform: capitalize;
          }
        }
      }
  
      .members-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
  
        li {
          padding: 0.5rem;
          background-color: vars.$background-color;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
      }
 
        
      }

      @media screen and (min-width: 768px) {
        background-color: rgba(65, 103, 105, 0.5); 
        width: 50vw;
        border: 1px solid vars.$accent-color;
        border-radius: 10px;
        
    }
}
  