@use '../utils/variables' as vars;
@use '../base/typography' as typography;
.household-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; 

  .header-section {
    margin-top: 40px;
    text-align: center;

    .household-title {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .points-distribution-title {
      font-size: typography.$font-size-xl;
      margin: 0.5rem 0 0;
    }
  }

  .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .chart-container {
      width: 85%;
      max-width: 400px;

      canvas {
        width: 100%;
        height: auto;
      }
    }

    .members-list {
      max-width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      .member-button {
        border: none;
        background: none;
        font-size: typography.$font-size-lg;
        color: #23294F;
        cursor: pointer;

        .memberAndPoints li {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &:hover {
          color: #87CEEB;
          text-decoration: underline;
        }
    
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;

      .chart-container {
        flex: 1;
        canvas {
          width: 50%; 
        }
      }

      .members-list {
        flex: 1;
        justify-content: flex-start;
        gap: 1.5rem;
      }
    }
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  
    .modal-content {
      margin: 10px;
      background: vars.$accent-color-light;
      color: vars.$primary-color-light;
      font-size: typography.$font-size-lg;
      border-radius: 8px;
      padding: 1.5rem;
      position: relative;
      width: 90%;
      max-width: 500px;
      max-height: 80vh; /* Begränsa höjden */
      overflow-y: auto; /* Aktivera lodrät scrollning */
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  
      .completed-tasks-list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
  
        .completed-task-item {
          padding: 1rem;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 4px;
          margin-bottom: 0.5rem;
          width: 100%;
  
          .task-name {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
  
            span {
              margin-left: auto;
              font-weight: bold;
            }
          }
        }
      }
  
      .close-button {
        margin-top: 1rem;
        width: 90%;
        padding: 0.5rem;
        border: none;
        border-radius: 4px;
        background: vars.$primary-color-light;
        color: vars.$accent-color-light;
        cursor: pointer;
  
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  }
