@use '../utils/variables' as vars;

.household-page {
  text-align: center;
  padding: 20px;
  background-color: vars.$background-color;


  .members-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    list-style: none;
    padding: 0;
    gap: 10px; 

    .member-item {
      font-size: 1.2rem;
      padding: 10px;
      border: 1px solid vars.$border-color;
      border-radius: 5px;
      background: vars.$background-color;
      color: vars.$secondary-color-dark;
      transition: background 0.3s;
      
      width: 40%; 

      &:hover {
        background: vars.$primary-color-light;
      }

      @media (min-width: 1024px) {
        width: 30%;
      }

      @media (min-width: 1400px) {
        width: 22%; 
      }
    }
  }

  .chart-container {
    margin-top: 20px;

    @media (max-width: 600px) {
      width: 100%; 
      height: 300px; 
    }

    @media (min-width: 1024px) {
      width: 80%; 
      height: 500px; 
    }
  }
}
