.addTaskForm {
  margin-top: 50px;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;

}


.tasks-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;  
  justify-content: center;
  align-items: center;  
  padding: 20px;
  margin-top: 20px;
}

.task-item {
  border-radius: 8px;
  padding: 15px;
  width: 30vw;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
  transition: transform 0.2s ease;
}

.task-item:hover {
  transform: translateY(-5px);  
}

button {
  background-color: #4e4c4c; 
  color: rgb(39, 174, 184);
  border: none;
  padding: 5px 9px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #e03e1b; 
}

.delete-icon {
  font-size: 12px;  
  cursor: pointer;
  transition: transform 0.3s ease;
}

.delete-icon:hover {
  transform: scale(1.2);  
}

.rubrik{
  font-size: 40px;
  font-weight: bold;
  color: #4e4c4c; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTaskForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
  transition: transform 0.2s ease;
  width: 40%;
}