// Base Colors
$background-color: #88938e;;
$border-color: #24373d;

// Primary Colors 
$primary-color-light: #C0D8B6;
$primary-color: #6D955C;
$primary-color-dark: #3e5833;

// Secondary Colors 
$secondary-color-light: #959BAC;
$secondary-color: #4F5777;
$secondary-color-dark: #383E5F;


// Accent Colors 
$accent-color-light: #5C7C7E;
$accent-color: #416769;
$accent-color-dark: #2D5254;

